{% extends "layoutCheckin.html" %}
{%block body %}
<title>Patron Sign Up</title>
<!-- MAIN CONTENT -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<div id="content" class="container" style="padding-top: 100px;">
    <div class="col-md-8">
        <div class="well no-padding">
            <form action="patronSignUpRoute" method="post" id="form-createAccount" class="smart-form client-form">
                <header class="bannerYellow" align="center">
                    Patron Sign Up
                </header>
                <fieldset>
                    <p id="messageBag" style="color: #ffd100; font-weight: bold; font-size: 16px; padding-top: 5px;"></p>
                    <section>
                        ID Number
                        <label class="input control-label">
                            <i class="icon-append fa fa-info"></i>
                            <input type="number" min="0" name="id" id="id" placeholder="Student or Wellness Center ID">
                            <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                        </label>
                    </section>
                    <section>
                        First Name
                        <label class="input control-label">
                            <i class="icon-append fa fa-user"></i>
                            <input type="text" name="firstName" id="firstName" placeholder="First Name">
                            <b class="tooltip tooltip-bottom-right">Your first name is required</b>
                        </label>
                    </section>
                    <section>
                        Last Name
                        <label class="input control-label">
                            <i class="icon-append fa fa-user"></i>
                            <input type="text" name="lastName" id="lastName" placeholder="Last Name">
                            <b class="tooltip tooltip-bottom-right">Your last name is required</b>
                        </label>
                    </section>
                    <section>
                        E-Mail
                        <label class="input control-label">
                            <i class="icon-append fa fa-envelope"></i>
                            <input type="email" name="email" id="email" placeholder="Email address">
                            <b class="tooltip tooltip-bottom-right">Email is required</b>
                        </label>
                    </section>
                    <section>
                        Telephone Number
                        <label class="input control-label">
                            <i class="icon-append fa fa-phone"></i>
                            <input type='tel' data-mask="(999) 999-9999" id="phoneNumber" required class="form-control" placeholder="Phone Number" name="phoneNumber" value="{{phoneNumber}}" />
                            <b class="tooltip tooltip-bottom-right">Phone number is required</b>
                        </label>

                    </section>
                    <section>
                        Address
                        <label class="input control-label">
                            <i class="icon-append fa fa-building"></i>
                            <input type="text" name="address" id="address" placeholder="Address">
                            <b class="tooltip tooltip-bottom-right">Address is required</b>
                        </label>
                    </section>
                    <section>
                        City
                        <label class="input control-label">
                            <i class="icon-append fa fa-map"></i>
                            <input type="text" name="city" id="city" placeholder="City">
                            <b class="tooltip tooltip-bottom-right">City is required</b>
                        </label>
                    </section>
                    State
                    <section>
                        <i class="icon-append fa fa-map"></i>
                        <label class="select">
                            <select class="form-control" name="state" id="state">
                                <option value="" selected="" disabled="">&nbsp;State</option>
                                <option value="Alabama">Alabama</option>
                                <option value="Alaska">Alaska</option>
                                <option value="Arizona">Arizona</option>
                                <option value="Arkansas">Arkansas</option>
                                <option value="California">California</option>
                                <option value="Colorado">Colorado</option>
                                <option value="Connecticut">Connecticut</option>
                                <option value="Delaware">Delaware</option>
                                <option value="District Of Columbia">District Of Columbia</option>
                                <option value="Florida">Florida</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Hawaii">Hawaii</option>
                                <option value="Idaho">Idaho</option>
                                <option value="Illinois">Illinois</option>
                                <option value="Indiana">Indiana</option>
                                <option value="Iowa">Iowa</option>
                                <option value="Kansas">Kansas</option>
                                <option value="Kentucky">Kentucky</option>
                                <option value="Louisiana">Louisiana</option>
                                <option value="Maine">Maine</option>
                                <option value="Maryland">Maryland</option>
                                <option value="Massachusetts">Massachusetts</option>
                                <option value="Michigan">Michigan</option>
                                <option value="Minnesota">Minnesota</option>
                                <option value="Mississippi">Mississippi</option>
                                <option value="Missouri">Missouri</option>
                                <option value="Montana">Montana</option>
                                <option value="Nebraska">Nebraska</option>
                                <option value="Nevada">Nevada</option>
                                <option value="New Hampshire">New Hampshire</option>
                                <option value="New Jersey">New Jersey</option>
                                <option value="New Mexico">New Mexico</option>
                                <option value="New York">New York</option>
                                <option value="North Carolina">North Carolina</option>
                                <option value="North Dakota">North Dakota</option>
                                <option value="Ohio">Ohio</option>
                                <option value="Oklahoma">Oklahoma</option>
                                <option value="Oregon">Oregon</option>
                                <option value="Pennsylvania">Pennsylvania</option>
                                <option value="Rhode Island">Rhode Island</option>
                                <option value="South Carolina">South Carolina</option>
                                <option value="South Dakota">South Dakota</option>
                                <option value="Tennessee">Tennessee</option>
                                <option value="Texas">Texas</option>
                                <option value="Utah">Utah</option>
                                <option value="Vermont">Vermont</option>
                                <option value="Virginia">Virginia</option>
                                <option value="Washington">Washington</option>
                                <option value="West Virginia">West Virginia</option>
                                <option value="Wisconsin">Wisconsin</option>
                                <option value="Wyoming">Wyoming</option>
                                <option value="American Samoa">American Samoa</option>
                                <option value="Guam">Guam</option>
                                <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                <option value="Puerto Rico">Puerto Rico</option>
                                <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                                <option value="Virgin Islands">Virgin Islands</option>
                                <option value="Armed Forces Americas">Armed Forces Americas</option>
                                <option value="Armed Forces Pacific">Armed Forces Pacific</option>
                                <option value="Armed Forces Others">Armed Forces Others</option>
                                <option value="Other">Other</option>
                            </select>
                            <b class="tooltip tooltip-bottom-right">State is required</b>
                        </label>
                    </section>
                    <section>
                        Zip Code
                        <label class="input control-label">
                            <i class="icon-append fa fa-map"></i>
                            <input type="text" name="zipCode" id="zipCode" placeholder="Zip Code">
                            <b class="tooltip tooltip-bottom-right">Zip code is required</b>
                        </label>
                    </section>
                    Gender
                    <section>
                        <i class="icon-append fa fa-male"></i>
                        <label class="select">
                            <select class="form-control" name="gender" id="gender">
                                <option selected="" disabled="" value="">&nbsp;Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="No Answer">Prefer Not to Answer</option>
                            </select>
                        </label>
                    </section>
                    <section>
                        <label class="control-label">
                            <input type="checkbox" name="listServ" id="listServ" value="True" checked>
                        </label>
                        I would like to receive emails from the SDSU Wellness Center Rock Wall.
                    </section>
                </fieldset>
                <footer>
                    <button type="submit" class="btn btn-primary patronButton" style="float: left">
                        Proceed to Waiver
                    </button>
                    <a href="patronCheckIn">
                        <input type="button" class="btn btn-primary patronButton" id ="checkIn" value="Back to Check In" style="float: right" />
                    </a>
                </footer>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">


    var number = document.getElementById('id');

    number.onkeydown = function (e) {
        if (!((e.keyCode > 95 && e.keyCode < 106)
          || (e.keyCode > 47 && e.keyCode < 58)
          || e.keyCode == 8)) {
            return false;
        }
    }

    $(document).keypress(function () {
        $(".pageError").remove();
    });

    $(function () {
        $("#form-createAccount").validate({
            rules: {
                id: {
                    required: true,
                    minlength: 1,
                    maxlength: 20
                },
                firstName: {
                    required: true,
                },
                lastName: {
                    required: true,
                },
                email: {
                    required: true,
                    email: true
                },
                phoneNumber: {
                    required: true,
                },
                address: {
                    required: true
                },
                state: {
                    required: true
                },
                city: {
                    required: true
                },
                zipCode: {
                    required: true
                },
                gender: {
                    required: true
                },
            },

            messages: {
                id: {
                    required: 'Please enter a new ID number',
                    minlength: 'ID may not be less than 1 digits',
                    maxlength: 'ID may not be longer than 20 digits'
                },
                firstName: {
                    required: 'Please enter your first name',
                },
                lastName: {
                    required: 'Please enter your last name',
                },
                email: {
                    required: 'Please enter your email address',
                    email: 'Please enter a VALID email address'
                },
                phoneNumber: {
                    tel: 'Please enter a valid phone number'
                },
                address: {
                    required: 'Please enter your address'
                },
                state: {
                    required: 'Please enter the state that you live in'
                },
                city: {
                    required: 'Please enter the city that you live in'
                },
                zipCode: {
                    required: 'Please enter your zip code'
                },
                gender: {
                    required: 'Please enter your gender'
                }
            },

            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    });
</script>

{% endblock %}
