{% extends "layoutCheckin.html" %}
{%block body %}
<title>Patron Check In</title>
<!-- MAIN CONTENT -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<div id="content" class="container" style="padding-top: 100px;">
    <div class="col-md-8">
        <div class="well no-padding">
            <form action="patronCheckInRoute" method="post" id="form-checkIn" class="smart-form client-form">
                <header class="bannerYellow" align="center">
                    Check In
                </header>
                <fieldset>
                    <ction>
                        <label class="input">
                            <i class="icon-append fa fa-info"></i>
                            <input type="number" name="patronId" id="patronId" min="0" placeholder="Student or Wellness Center ID">
                            <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                        </label>
                        <p id="messageBag" style="color: #ffd100; font-weight: bold; font-size: 16px; padding-top: 5px;"></p>
                    </ction>
                </fieldset>
                <footer>
                    <button class="btn btn-primary" type="submit" style="float: left" data-backdrop="static" data-keyboard="false" data-target="#checkInModal">
                        Check In
                    </button>
                    <a href="patronSignUp">
                        <input type="button" class="btn btn-primary" value="Create Account" style="float: right" />
                    </a>
                </footer>
            </form>
        </div>
    </div>
</div>

<form action="patronCheckInRoute2" method="post" id="form-checkInUpdate">
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="submit" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Update Current Information</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">ID</label>
                                <input type="number" placeholder="Select a item to edit..." class="form-control" id="id" name="patronId2" value={{id}} readonly />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">First Name</label>
                                <input type="text" placeholder="First Name" required class="form-control" id="firstName" name="firstName" value="{{firstName}}" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Last Name</label>
                                <input type="text" id="lastName" required class="form-control" placeholder="Last Name" name="lastName" value="{{lastName}}" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">E-mail</label>
                                <input type="text" id="email" required class="form-control" placeholder="Email" name="email" value="{{email}}" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Telephone Number</label>
                                <input type='tel' data-mask="(999) 999-9999" id="phoneNumber" required class="form-control" placeholder="Phone Number" name="phoneNumber" value="{{phoneNumber}}" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Address</label>
                                <input type="text" id="address" required class="form-control" placeholder="Address" name="address" value="{{address}}" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">City</label>
                                <input type="text" id="city" required class="form-control" placeholder="City" name="city" value="{{city}}" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">State</label>
                                <label class="select" style="display:block">
                                    <select class="form-control" name="state" id="state">
                                        <option value="{{state}}" selected="">{{state}}</option>
                                        <option value="Alabama">Alabama</option>
                                        <option value="Alaska">Alaska</option>
                                        <option value="Arizona">Arizona</option>
                                        <option value="Arkansas">Arkansas</option>
                                        <option value="California">California</option>
                                        <option value="Colorado">Colorado</option>
                                        <option value="Connecticut">Connecticut</option>
                                        <option value="Delaware">Delaware</option>
                                        <option value="District Of Columbia">District Of Columbia</option>
                                        <option value="Florida">Florida</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="Hawaii">Hawaii</option>
                                        <option value="Idaho">Idaho</option>
                                        <option value="Illinois">Illinois</option>
                                        <option value="Indiana">Indiana</option>
                                        <option value="Iowa">Iowa</option>
                                        <option value="Kansas">Kansas</option>
                                        <option value="Kentucky">Kentucky</option>
                                        <option value="Louisiana">Louisiana</option>
                                        <option value="Maine">Maine</option>
                                        <option value="Maryland">Maryland</option>
                                        <option value="Massachusetts">Massachusetts</option>
                                        <option value="Michigan">Michigan</option>
                                        <option value="Minnesota">Minnesota</option>
                                        <option value="Mississippi">Mississippi</option>
                                        <option value="Missouri">Missouri</option>
                                        <option value="Montana">Montana</option>
                                        <option value="Nebraska">Nebraska</option>
                                        <option value="Nevada">Nevada</option>
                                        <option value="New Hampshire">New Hampshire</option>
                                        <option value="New Jersey">New Jersey</option>
                                        <option value="New Mexico">New Mexico</option>
                                        <option value="New York">New York</option>
                                        <option value="North Carolina">North Carolina</option>
                                        <option value="North Dakota">North Dakota</option>
                                        <option value="Ohio">Ohio</option>
                                        <option value="Oklahoma">Oklahoma</option>
                                        <option value="Oregon">Oregon</option>
                                        <option value="Pennsylvania">Pennsylvania</option>
                                        <option value="Rhode Island">Rhode Island</option>
                                        <option value="South Carolina">South Carolina</option>
                                        <option value="South Dakota">South Dakota</option>
                                        <option value="Tennessee">Tennessee</option>
                                        <option value="Texas">Texas</option>
                                        <option value="Utah">Utah</option>
                                        <option value="Vermont">Vermont</option>
                                        <option value="Virginia">Virginia</option>
                                        <option value="Washington">Washington</option>
                                        <option value="West Virginia">West Virginia</option>
                                        <option value="Wisconsin">Wisconsin</option>
                                        <option value="Wyoming">Wyoming</option>
                                        <option value="American Samoa">American Samoa</option>
                                        <option value="Guam">Guam</option>
                                        <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                        <option value="Puerto Rico">Puerto Rico</option>
                                        <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                                        <option value="Virgin Islands">Virgin Islands</option>
                                        <option value="Armed Forces Americas">Armed Forces Americas</option>
                                        <option value="Armed Forces Pacific">Armed Forces Pacific</option>
                                        <option value="Armed Forces Others">Armed Forces Others</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <b class="tooltip tooltip-bottom-right">State is required</b>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Zip Code</label>
                                <input type="text" id="zipCode" required class="form-control" placeholder="Zip Code" name="zipCode" value="{{zipCode}}" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <section>
                                <label class="control-label">Gender</label>
                                <select class="form-control" name="gender" id="gender">
                                    {% if gender == 'Male' %}
                                    <option selected value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="No Answer">Prefer Not to Answer</option>
                                    {% endif %}
                                    {% if gender == 'Female' %}
                                    <option value="Male">Male</option>
                                    <option selected value="Female">Female</option>
                                    <option value="No Answer">Prefer Not to Answer</option>
                                    {% endif %}
                                    {% if gender == 'No Answer' %}
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option selected value="No Answer">Prefer Not to Answer</option>
                                    {% endif %}
                                </select>
                            </section>
                        </div>

                        <div class="modal-footer">
                            <div style="padding-top: 15px;">
                                <button type="submit" class="btn btn-primary" id="finalCheckIn" style="margin-top: 20px; margin-right:125px; width:300px">
                                    Continue to Check In
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script type="text/javascript">

    var number = document.getElementById('patronId');

    number.onkeydown = function (e) {
        if (!((e.keyCode > 95 && e.keyCode < 106)
          || (e.keyCode > 47 && e.keyCode < 58)
          || e.keyCode == 8)) {
            return false;
        }
    }

    window.onload = function(){

        var prePass2 = {{pass2|tojson}}
        var pass2 = JSON.parse(prePass2);
        if (pass2[0] == 'T')
        {
            $("#editModal").modal()
        }
    }

    $(document).keypress(function () {
        $(".pageError").remove();
    });

    $(function () {
        $("#form-checkInUpdate").validate({

            rules: {
                id: {
                    required: true,
                    minlength: 1,
                    maxlength: 20
                },
                firstName: {
                    required: true,
                },
                lastName: {
                    required: true,
                },
                email: {
                    required: true,
                    email: true
                },
                phoneNumber: {
                    required: true
                },
                address: {
                    required: true
                },
                state: {
                    required: true
                },
                city: {
                    required: true
                },
                zipCode: {
                    required: true
                },
                gender: {
                    required: true
                },
            },

            messages: {
                id: {
                    required: 'Please enter a new ID number',
                    minlength: 'ID may not be less than 1 digits',
                    maxlength: 'ID may not be longer than 20 digits'
                },
                firstName: {
                    required: 'Please enter your first name',
                },
                lastName: {
                    required: 'Please enter your last name',
                },
                email: {
                    required: 'Please enter your email address',
                    email: 'Please enter a VALID email address'
                },
                phoneNumber: {
                    tel: 'Please enter a valid phone number'
                },
                address: {
                    required: 'Please enter your address'
                },
                state: {
                    required: 'Please enter the state that you live in'
                },
                city: {
                    required: 'Please enter the city that you live in'
                },
                zipCode: {
                    required: 'Please enter your zip code'
                },
                gender: {
                    required: 'Please enter your gender'
                }
            },

            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    });


</script>
    {% endblock %}
