{% extends "layoutCheckin.html" %}
{%block body %}

<!-- MAIN CONTENT -->
<title>Waiver</title>
<div id="content" class="container" style="padding-top: 100px;">
    <div class="col-md-8">
        <div class="well no-padding">
            <form action="createPatronAccountRoute" method="post" id="form-createAccount" class="smart-form client-form sigPad" style="width: 100%">
                <header style="background-color: yellow; color: gray; font-size: 25px;" align="center">
                    Waiver
                </header>
                <fieldset>
                    <div>
                        <img src="static/img/waiverImages/waiver.png" alt="Waiver" style="width:100%;height:auto;">
                    </div>
                    <div>
                        <p id="messageBag" style="color: #ffd100; font-weight: bold; font-size: 16px; padding-top: 5px;"></p>
                        <div id="signature-pad" class="m-signature-pad" style="width: 100%; height:120px;">
                            <div class="m-signature-pad--body">
                                <canvas></canvas>
                            </div>
                            <div class="m-signature-pad--footer" style="height: 0px;">
                                <div class="description">Sign above</div>
                            </div>
                        </div>
                        <button type="button" id="clearButton" class="button clear" data-action="clear" style="margin-left: auto; margin-right: auto; float:none; width:200px">Clear</button>
                    </div>
                </fieldset>
                <footer>
                    <button id="createAccountButton" type="submit" class="btn btn-primary patronButton" style="float: left">
                        Create Account
                    </button>
                    <a href="patronCheckIn">
                        <input type="button" class="btn btn-primary patronButton" value="Back to Check In" style="float: right" />
                    </a>
                </footer>

                <div class="message">
                    <i class="fa fa-check"></i>
                    <p>
                        Thank you for your registration!
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">

    var wrapper = document.getElementById("signature-pad"),
    clearButton = wrapper.querySelector("[data-action=clear]"),
    savePNGButton = wrapper.querySelector("[data-action=save-png]"),
    canvas = wrapper.querySelector("canvas"),
    signaturePad;

    function resizeCanvas() {

        var ratio = Math.max(window.devicePixelRatio || 1, 1);
        canvas.width = canvas.offsetWidth * ratio;
        canvas.height = canvas.offsetHeight * ratio;
        canvas.getContext("2d").scale(ratio, ratio);
    }

    window.onresize = resizeCanvas;
    resizeCanvas();

    signaturePad = new SignaturePad(canvas);
    signaturePad.penColor = "rgb(0, 0, 255)";

    $('#clearButton').click(function () {
        signaturePad.clear();
    })

    $('#createAccountButton').click(function () {
        let data = signaturePad.toDataURL();
        let jqXHR = $.ajax({
            type: 'POST',
            url: '/storeImage',
            data: { data: data },
            async: false
        });
        return jqXHR.responseText;
    });


    $('#form-createAccount').click(function () {
        if (!signaturePad.isEmpty()) {
            $('#createAccountButton').prop('disabled', false);
        } 
    });

    $(function () {
        $("#form-createAccount").validate({
            rules: {
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 6,
                    maxlength: 20
                },
                accountType: {
                    required: true
                }
            },

            messages: {
                email: {
                    required: 'Please enter your email address',
                    email: 'Please enter a VALID email address'
                },
                password: {
                    required: 'Please enter your password',
                    minLength: 'Password may not be less than 6 characters',
                    maxlength: 'Password may not be longer than 20 characters'
                },
                accountType: {
                    required: 'Please select an account type'
                }
            },


            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    });
</script>

{% endblock %}
