body {
    width:100%;
    height:100%
}

.rowSelect {
    background: rgba(0,255,225,.25) !important;
    background-color: rgba(0,255,225,.25) !important;
}

*::-webkit-input-placeholder {
    color: white !important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: white !important;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: white !important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: white !important;
}