body {
    width:100%;
    height:100%
}

.rowSelect {
    background: rgba(0,255,225,.25) !important;
    background-color: rgba(0,255,225,.25) !important;
}

*::-webkit-input-placeholder {
    color: white !important;
}
*:-moz-placeholder {
    color: white !important;
}
*::-moz-placeholder {
    color: white !important;
}
*:-ms-input-placeholder {
    color: white !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.bannerYellow {
    background-color: yellow !important;
    color: rgb(3, 75, 133) !important;
    font-size: 25px !important;
}

.error {
    color: yellow;
}


input[type='checkbox'] {
    width:20px;
    height:20px;
}
