{% extends "layout.html" %}
{%block body %}

<!-- MAIN CONTENT -->
<div id="content" class="container" style="padding-top: 100px; margin-left: 30%;">
    <div class="col-md-8">
        <div class="well no-padding">
            <form action="changePasswordRoute" method="post" id="form-changePassword" class="smart-form client-form">
                <header style="background-color: yellow; color: gray; font-size: 25px;" align="center">
                    Change Password
                </header>
                <fieldset>
                    <section>
                        {% if messageChangePassword %}
                        <p class="pageError" style="color: white">
                            {{ messageChangePassword }} <br />
                        </p>
                        {% endif %}
                        <label class="input">
                            <i class="icon-append fa fa-envelope"></i>
                            <input type="email" name="email" id="email" placeholder="Email address" required>
                            <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                        </label>
                    </section>
                    <section>
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            <input type="password" name="newPassword" id="newPassword" placeholder="New Password" required>
                            <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                        </label>
                    </section>
                    <section>
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            <input type="password" name="newConfirmPassword" id="newConfirmPassword" placeholder="Confirm New Password" required>
                            <b class="tooltip tooltip-bottom-right">Don't forget to confirm password</b>
                        </label>
                    </section>
                </fieldset>
                <footer>
                    <button type="submit" class="btn btn-primary" style="float: left">
                        Request Password Change
                    </button>
                    <a href="login">
                        <input type="button" class="btn btn-primary" value="Back to Login" />
                    </a>
                    <a href="createAccount">
                        <input type="button" class="btn btn-primary" value="Create Account" />
                    </a>
                </footer>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).keypress(function () {
        $(".pageError").remove();
    });

    runAllForms();

    // Validation
    $(function () {
        // Validation
        $("#form-changePassword").validate({

            // Rules for form validation
            rules: {
                email: {
                    required: true,
                    email: true
                },
                newPassword: {
                    required: true,
                    minlength: 6,
                    maxlength: 20
                },
                newConfirmPassword: {
                    required: true,
                    equalTo: '#newPassword'
                }
            },

            // Messages for form validation
            messages: {
                email: {
                    required: 'Please enter your email address',
                    email: 'Please enter a VALID email address'
                },
                newPassword: {
                    required: 'Please enter your password',
                    minLength: 'Password may not be less than 6 characters',
                    maxlength: 'Password may not be longer than 20 characters'
                },
                newConfirmPassword: {
                    required: 'Please enter your password one more time',
                    equalTo: 'Please enter the same password as above'
                }
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    });
</script>

{% endblock %}
