{% extends "layout.html" %}
{%block body %}
<title>Create Account</title>
<!-- MAIN CONTENT -->
<div id="content" class="container" style="padding-top: 100px; margin-left: 30%;">
    <div class="col-md-8">
        <div class="well no-padding">
            <form action="createAccountRoute" method="post" id="form-createAccount" class="smart-form client-form">
                <header class="bannerYellow" align="center">
                    Account Creation
                </header>
                <fieldset>
                    <section>
                        <p id="messageBag" style="color: #ffd100; font-weight: bold; font-size: 16px; padding-top: 5px;"></p>
                        <label class="input">
                            <i class="icon-append fa fa-user"></i>
                            <input type="text" name="firstName" id="firstName" placeholder="First Name">
                            <b class="tooltip tooltip-bottom-right">Needed to identify you</b>
                        </label>
                    </section>
                    <section>
                        <label class="input">
                            <i class="icon-append fa fa-user"></i>
                            <input type="text" name="lastName" id="lastName" placeholder="Last Name">
                            <b class="tooltip tooltip-bottom-right">Needed to identify you</b>
                        </label>
                    </section>
                    <section>
                        <label class="input">
                            <i class="icon-append fa fa-envelope"></i>
                            <input type="email" name="email" id="email" placeholder="Email Address">
                            <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                        </label>
                    </section>
                    <section>
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            <input type="password" name="password" id="password" placeholder="Password">
                            <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                        </label>
                    </section>
                    <section>
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password">
                            <b class="tooltip tooltip-bottom-right">Don't forget to confirm password</b>
                        </label>
                    </section>
                    <section>
                        <i class="icon-append fa fa-male"></i>
                        <label class="select">
                            <select class="form-control" name="accountType" id="accountType">
                                <option selected="" disabled="" value="">&nbsp;&nbsp;Account Type</option>
                                <option value="Employee">&nbsp;&nbsp;Employee</option>
                                <option value="Administrator">&nbsp;&nbsp;Administrator</option>
                            </select>
                        </label>
                    </section>
                </fieldset>
                <footer>
                    <button type="submit" class="btn btn-primary" style="float: left">
                        Request Account
                    </button>
                    <a href="login">
                        <input type="button" class="btn btn-primary" value="Back to Login" style="float: right" />
                    </a>
                    <a href="changePassword">
                        <input type="button" class="btn btn-primary" value="Forgot/Change Password" style="float: right" />
                    </a>
                </footer>
            </form>
        </div>
    </div>
</div>

<form action="authenticateCreateAccount" method="post">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </a>
                    <h4 class="modal-title" id="myModalLabel">Authenticaticating Account Creation For: <br />{{firstName}} {{lastName}} - {{accountType}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12">
                                <p id="messageBagModal" style="color: #ffd100; font-weight: bold; font-size: 16px; padding-top: 5px;"></p>
                                <div class="form-group">
                                    <input type="email" required class="form-control" placeholder="Email Address" name="validateEmail" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="password" required class="form-control" placeholder="Password" name="validatePassword" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">
                                    Authenticate New Account
                                </button>
                                <a class="btn btn-default" data-dismiss="modal">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    
    $(document).keypress(function () {
        messageBag.css("display","none")
    });

    var messageBagContent = '{{ session['messageBag'] }}';

    var messageBag = $("#messageBag");

    if (messageBagContent.length > 0)
    {
        messageBagContent = "&nbsp;" + messageBagContent;
        messageBag.css("display","block")
        messageBag[0].innerHTML = messageBagContent;
    }


    $(document).keypress(function () {
        $(".pageError").remove();
    });

    window.onload = function(){

        var prePass2 = {{pass2|tojson}}
        var pass2 = JSON.parse(prePass2);
        if (pass2[0] == 'T')
        {
            var messageBagModalContent = '{{ session['messageBag'] }}';
            var messageBagModal = $("#messageBagModal");

            if (messageBagContent != "&nbsp;Email already exists!")
            {
                $('#myModal').modal({
                    backdrop: 'static',
                    keyboard: false
                })

                if (messageBagContent.length > 0)
                {
                    messageBagModalContent = "&nbsp;" + messageBagModalContent;
                    messageBagModal.css("display","block")
                    messageBagModal[0].innerHTML = messageBagModalContent;
                }
            }
            $(document).keypress(function () {
                messageBagModal.css("display","none")
            });
        }
    }

    $(function () {
        $("#form-createAccount").validate({
            rules: {
                firstName: {
                    required: true,
                },
                lastName: {
                    required: true,
                },
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 6,
                    maxlength: 20
                },
                confirmPassword: {
                    required: true,
                    equalTo: '#password'
                },
                accountType: {
                    required: true
                }
            },

            messages: {
                firstName: {
                    required: 'Please enter your first name'
                },
                lastName: {
                    required: 'Please enter your last name'
                },
                email: {
                    required: 'Please enter your email address',
                    email: 'Please enter a VALID email address'
                },
                password: {
                    required: 'Please enter your password',
                    minLength: 'Password may not be less than 6 characters',
                    maxlength: 'Password may not be longer than 20 characters'
                },
                confirmPassword: {
                    required: 'Please enter your password one more time',
                    equalTo: 'Please enter the same password as above'
                },
                accountType: {
                    required: 'Please select an account type'
                }
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    });
</script>

{% endblock %}
