{% extends "layout.html" %}
{% block body %}

<div id="main" role="main">
    <div id="content">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark">
                    <i class="fa-fw fa fa-list"></i>
                    Reporting
                </h1>
            </div>
        </div>
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false">
                        <header style="padding-top:10px">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2 style="line-height:15px"><strong>Reporting</strong></h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <form id="reportForm" method="post" action="addIncidentRoute">
                                    <fieldset>
                                        <legend>
                                            Report an Incident
                                        </legend>
                                        <div class="form-group">
                                            <div>
                                                <label class="control-label">Time of Incident</label>
                                                <input type="text" name="incidentTime" id="incidentTime" placeholder="Time" class="form-control timepicker" required />
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <div>
                                                <label class="control-label">Date of Incident</label>
                                                <input type="text" name="incidentDate" id="incidentDate" placeholder="Date" class="form-control datepicker" required />
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Description of Incident </label>
                                            <textarea class="form-control" name="incidentDescription" rows="8" placeholder="Description the Incident" required></textarea>
                                        </div>
                                    </fieldset>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button class="btn btn-default" type="submit">
                                                    <i class="fa fa-check"></i>
                                                    Submit Incident Report
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>

<div id="bigBox" class="bigBox animated fadeIn fast" style="background-color: rgb(50, 118, 177);">
    <div id="bigBoxColor2">
        <i class="botClose fa fa-times"></i><span>
            Report was sucessfully submitted! <br />
        </span>
        <div class="bigboxicon">
            <i class="fa fa-check animated"></i>
        </div>
    </div>
</div>


<script type="text/javascript">
    $($("#navbarList > li")[2]).addClass('active')

    $('#incidentDate').datepicker({
        maxDate: 0,
        nextText: '>',
        prevText: '<',
        donetext: 'Done',
        navigationAsDateFormat: true
    });


    $('#incidentTime').timepicker({
        maxDate: 0,
        maxTime: 0
    });
    $(document).ready(function () {
        let previousUrl = document.referrer;
        if (previousUrl == "http://localhost:4000/reporting" || previousUrl == "http://www.matthew.gollaher/reporting") {
            $('.bigBox').show();
            setTimeout(function () {
                $('.bigBox').hide();
            }, 3000);
        }
        else {
            $(".bigBox").remove();
        }
    });

    $(".bigBox").click(function () {
        $(".bigBox").remove();
    });

</script>
    {% endblock %}
