{% extends "layout.html" %}
{%block body %}

<div id="main" role="main">
    <div id="content">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark">
                    <i class="fa-fw fa fa-list"></i>
                    Reporting
                </h1>
            </div>
        </div>
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                        <header style="padding-top:10px">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2 style="line-height:15px"><strong>Reporting</strong></h2>
                        </header>
                        <div>
                            <div class="widget-body">
                                <form id="reportForm" method="post" action="addIncidentRoute">
                                    <fieldset>
                                        <legend>
                                            Report an Incident
                                        </legend>
                                        <div class="form-group">
                                            <div>
                                                <label class="control-label">Time of Incident</label>
                                                <input type="text" name="incidentTime" id="incidentTime" placeholder="Time" class="form-control timepicker" required />
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <div>
                                                <label class="control-label">Date of Incident</label>
                                                <input type="text" name="incidentDate" id="incidentDate" placeholder="Date" class="form-control datepicker" required />
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="control-label">Description of Incident </label>
                                            <textarea class="form-control" name="incidentDescription" rows="10" placeholder="Description the Incident" maxlength="1000" required></textarea>
                                        </div>
                                    </fieldset>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button class="btn btn-default" type="submit">
                                                    <i class="fa fa-check"></i>
                                                    Submit Incident Report
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                        <header style="padding-top:10px">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2 style="line-height:15px"><strong>Reports</strong></h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <div style="padding-bottom:10px; padding-right: 5px; padding-top: 7px;">
                                    <button class="btn btn-primary" id="toggleReviewReport" style="margin-left:6px;">
                                        <i class="fa fa-plus"></i> <span class="hidden-mobile">Toggle Report Status</span>
                                    </button>
                                    <button class="btn btn-primary" id="viewReport" style="margin-left:6px;" data-target="#viewReportModal">
                                        <i class="fa fa-plus"></i> <span class="hidden-mobile">Expand Selected Report</span>
                                    </button>
                                </div>

                                <table id="datatable" class="display table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="display:none"></th>
                                            <th>Time</th>
                                            <th data-hide="phone">Date</th>
                                            <th data-hide="phone,tablet">Description</th>
                                            <th data-hide="phone,tablet">Author</th>
                                            <th data-hide="phone,tablet">Reviewed</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in reportTable %}
                                        <tr id="tr">
                                            <td style="display:none;">{{ row['id']|tojson|safe }}</td>
                                            <td>{{ row['time'] }}</td>
                                            <td>{{ row['date'] }}</td>
                                            <td title="{{ row['description'] }}"> {{ row['description'] }}</td>
                                            <td>{{ row['author'] }}</td>
                                            <td>{{ row['isReviewed'] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                        <header style="padding-top:10px">
                            <span class="widget-icon"> <i class="fa fa-users"></i> </span>
                            <h2 style="line-height:15px"><strong>Patron List</strong></h2>
                        </header>
                        <div>
                            <div class="widget-body no-padding">
                                <div style="padding-bottom:10px; padding-right: 5px; padding-top: 7px;">
                                    <button class="btn btn-primary" id="editSuspension" style="margin-left:6px;" data-target="#suspensionModal">
                                        <i class="fa fa-plus"></i> <span class="hidden-mobile">Edit Suspension Details</span>
                                    </button>

                                </div>
                                <table id="patronDatatable" class="display table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Suspension Status</th>
                                            <th>Suspension Start Date</th>
                                            <th>Suspension End Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in patronTable %}
                                        <tr id="tr">
                                            <td>{{ row['id']|tojson|safe }}</td>
                                            <td>{{ row['firstName'] }}</td>
                                            <td>{{ row['lastName'] }}</td>
                                            {% if row['isSuspended'] == 'False' %}
                                            <td>No</td>
                                            {% else %}
                                            <td>Yes</td>
                                            {% endif %}
                                            <td>{{ row['suspendedStartDate'] }}</td>
                                            <td>{{ row['suspendedEndDate'] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </article>
            </div>
        </section>
    </div>
</div>

<div id="bigBox" class="bigBox animated fadeIn fast" style="background-color: rgb(50, 118, 177);">
    <div id="bigBoxColor2">
        <i class="botClose fa fa-times"></i><span>
            Report was sucessfully submitted! <br />
        </span>
        <div class="bigboxicon">
            <i class="fa fa-check animated"></i>
        </div>
    </div>
</div>

<div class="modal fade" id="viewReportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="submit" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit Suspension Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" style="display:none;">
                            <input type="text" class="form-control" id="selectedId" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="selectedTime" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="selectedDate" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea rows="10" class="form-control" id="selectedDescription" maxlength="500" readonly="readonly"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="selectedAuthor" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="selectedIsReviewed" readonly="readonly" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Okay
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form action="editPatronSuspensionRoute" method="post">
    <div class="modal fade" id="suspensionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="submit" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Edit Patron Suspension Information</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Patron ID</label>
                                <input type="text" class="form-control" name="updatedPatronId" id="selectedPatronId" readonly="readonly" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">First Name</label>
                                <input type="text" class="form-control" id="selectedPatronFirstName" readonly="readonly" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Last Name</label>
                                <input type="text" class="form-control" id="selectedPatronLastName" readonly="readonly" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Suspended</label>
                                <select class="form-control" name="updatedPatronSuspensionStatus" id="selectedPatronSuspensionStatus" style="margin-bottom:15px">
                                    <option value="">Suspension Status</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Suspension Start Date</label>
                                <input type="text" class="form-control datepicker" data-dateformat="mm/dd/yy" name="updatedPatronSuspensionStartDate" id="selectedPatronSuspensionStartDate" readonly />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Suspension End Date</label>
                                <input type="text" class="form-control datepicker" data-dateformat="mm/dd/yy" name="updatedPatronSuspensionEndDate" id="selectedPatronSuspensionEndDate" readonly />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancel
                            </button>
                            <button type="submit" class="btn btn-primary">
                                Save Changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">


    $($("#navbarList > li")[2]).addClass('active')

    var selectedId = "";
    var selectedTime = "";
    var selectedDate = "";
    var selectedDescription = "";
    var selectedAuthor = "";
    var selectedIsReviewed = "";

    var selectedPatronId = "";
    var selectedPatronFirstName = "";
    var selectedPatronLastName = "";
    var selectedPatronSuspensionStatus = "";
    var selectedPatronSuspensionStartDate = "";
    var selectedPatronSuspensionEndDate = "";

    var allDescriptions = [];
    var allDesciptionIds = [];

    $(".bigBox").click(function () {
        $(".bigBox").remove();
    });

    $('#incidentDate').datepicker({
        maxDate: 0,
        nextText: '>',
        prevText: '<',
        donetext: 'Done',
        navigationAsDateFormat: true
    });


    $('#incidentTime').timepicker({
        maxDate: 0,
        maxTime: 0
    });

    $("#selectedSuspendedStartDate").datepicker({
        minDate: 0,
        onSelect: function (selected) {
            $("#selectedSuspendedEndDate").datepicker("option", "minDate", selected)
        }
    });
    $("#selectedSuspendedEndDate").datepicker({
        minDate: 0,
        onSelect: function (selected) {
            $("#selectedSuspendedStartDate").datepicker("option", "maxDate", selected)
        }
    });

    $(document).ready(function () {


        let previousUrl = document.referrer;
        if (previousUrl == "http://localhost:4000/reporting" || previousUrl == "http://www.matthew.gollaher/reporting") {
            $('.bigBox').show();
            setTimeout(function () {
                $('.bigBox').hide();
            }, 3000);
        }
        else {
            $(".bigBox").remove();
        }

        $('table.display').DataTable({
            stateSave: true,
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'T>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
            "oLanguage": {
                "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
            },
            "oTableTools": {
                "aButtons": [
                "copy",
                "xls",
                   {
                       "sExtends": "pdf",
                       "sPdfSize": "letter"
                   },
                   {
                       "sExtends": "print",
                       "sMessage": "<i>(press Esc to close)</i>"
                   }
                ],
                "sSwfPath": "static/js/plugin/datatables/swf/copy_csv_xls_pdf.swf"
            },
            order: ['2'],
            "autoWidth": true,
            "columnDefs": [
            {
                targets: 3,
                render: $.fn.dataTable.render.ellipsis()
            }]
        });

        var table = $('#datatable').DataTable();
        var table2 = $('#patronDatatable').DataTable();
        $('table.display').on('click', 'tr', function () {

            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                $(this).removeClass('rowSelect');

            }
            else {
                table.$('tr.selected').removeClass('rowSelect');
                table.$('tr.selected').removeClass('selected');
                table2.$('tr.selected').removeClass('rowSelect');
                table2.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $(this).addClass('rowSelect');
            }
        });


        $('#toggleReviewReport').click(function () {

            let selectedRow = document.querySelectorAll(".selected");
            if (!selectedRow[0]) {
                alert('Please select a report to toggle review status.');
            }
            else {
                let selectedRow = document.querySelectorAll(".selected");
                selectedRow = selectedRow[0].textContent.split("\n");

                selectedId = selectedRow[1].trim(" ").replace(/^"(.*)"$/, '$1');;
                selectedIsReviewed = selectedRow[6].trim(" ");

                if (selectedId != "") {
                    runToggleReviewPython(selectedId, selectedIsReviewed);
                    location.reload();
                }
            }
        });
    });

    $('#viewReport').click(function () {

        let selectedRow = document.querySelectorAll(".selected");
        if (!selectedRow[0]) {
            alert('Please select a report to view more details.');
        }
        else {
            $("#viewReportModal").modal()
            selectedRow = selectedRow[0].textContent.split("\n");

            selectedId = selectedRow[1].trim(" ").replace(/^"(.*)"$/, '$1');;
            selectedTime = selectedRow[2].trim(" ");
            selectedDate = selectedRow[3].trim(" ");
            selectedAuthor = selectedRow[5].trim(" ");
            selectedIsReviewed = selectedRow[6].trim(" ");

            document.getElementById("selectedId").value = selectedId;
            document.getElementById("selectedTime").value = selectedTime;
            document.getElementById("selectedDate").value = selectedDate;
            document.getElementById("selectedDescription").value = findSelectedDescription();
            document.getElementById("selectedAuthor").value = selectedAuthor;
            document.getElementById("selectedIsReviewed").value = selectedIsReviewed;
        }

    });

    $('#editSuspension').click(function () {
        debugger;
        let selectedRow = document.querySelectorAll(".selected");
        if (!selectedRow[0]) {
            alert('Please select a patron to edit suspension privileges.');
        }
        else {
            $("#suspensionModal").modal()
            selectedRow = selectedRow[0].textContent.split("\n");
            selectedPatronId = selectedRow[1].trim(" ").replace(/^"(.*)"$/, '$1');
            selectedPatronFirstName = selectedRow[2].trim(" ");
            selectedPatronLastName = selectedRow[3].trim(" ");
            selectedPatronSuspensionStatus = selectedRow[5].trim(" ");
            selectedPatronSuspensionStartDate = selectedRow[7].trim(" ");
            selectedPatronSuspensionEndDate = selectedRow[8].trim(" ");

            document.getElementById("selectedPatronId").value = selectedPatronId;
            document.getElementById("selectedPatronFirstName").value = selectedPatronFirstName;
            document.getElementById("selectedPatronLastName").value = selectedPatronLastName;
            document.getElementById("selectedPatronSuspensionStatus").value = selectedPatronSuspensionStatus;
            document.getElementById("selectedPatronSuspensionStartDate").value = selectedPatronSuspensionStartDate;
            document.getElementById("selectedPatronSuspensionEndDate").value = selectedPatronSuspensionEndDate;


            if ($('#selectedPatronSuspensionStatus')[0].value == 'Yes') {

                $('#selectedPatronSuspensionStartDate').addClass('disabled', false);
                $('#selectedPatronSuspensionStartDate').datepicker('enable');

                $('#selectedPatronSuspensionEndDate').addClass('disabled', false);
                $('#selectedPatronSuspensionEndDate').datepicker('enable');

            } else {

                $('#selectedPatronSuspensionStartDate').addClass('disabled', true);
                $('#selectedPatronSuspensionStartDate').datepicker('disable');

                $('#selectedPatronSuspensionEndDate').addClass('disabled', true);
                $('#selectedPatronSuspensionEndDate').datepicker('disable');
            }
        }
    });

    $('#selectedPatronSuspensionStatus').change(function () {
        if ($('#selectedPatronSuspensionStatus')[0].value == 'Yes') {

            $('#selectedPatronSuspensionStartDate').addClass('disabled', false);
            $('#selectedPatronSuspensionStartDate').datepicker('enable');
            $('#selectedPatronSuspensionStartDate')[0].value = '';

            $('#selectedPatronSuspensionEndDate').addClass('disabled', false);
            $('#selectedPatronSuspensionEndDate').datepicker('enable');
            $('#selectedPatronSuspensionEndDate')[0].value = '';

        } else {

            $('#selectedPatronSuspensionStartDate').addClass('disabled', true);
            $('#selectedPatronSuspensionStartDate').datepicker('disable');
            $('#selectedPatronSuspensionStartDate')[0].value = '';

            $('#selectedPatronSuspensionEndDate').addClass('disabled', true);
            $('#selectedPatronSuspensionEndDate').datepicker('disable');
            $('#selectedPatronSuspensionEndDate')[0].value = '';
        }
    });

    $('#toggleReviewReport').click(function () {

        let selectedRow = document.querySelectorAll(".selected");
        selectedRow = selectedRow[0].textContent.split("\n");

        selectedId = selectedRow[1].trim(" ").replace(/^"(.*)"$/, '$1');;
        selectedIsReviewed = selectedRow[6].trim(" ");

        if (selectedId != "") {
            runToggleReviewPython(selectedId, selectedIsReviewed);
            location.reload();
        }
    });

    $("#selectedPatronSuspensionStartDate").datepicker({
        minDate: 0,
        onSelect: function (selected) {
            $("#selectedPatronSuspensionEndDate").datepicker("option", "minDate", selected)
        }
    });
    $("#selectedPatronSuspensionEndDate").datepicker({
        minDate: 0,
        onSelect: function (selected) {
            $("#selectedPatronSuspensionStartDate").datepicker("option", "maxDate", selected)
        }
    });

    $.fn.dataTable.render.ellipsis = function () {
        return function (data, type, row) {
            allDescriptions.push(row[3])
            allDesciptionIds.push(row[0])
            return type === 'display' && data.length > 165 ?
                data.substr(0, 165) + '…' :
                data;
        }
    };

    function findSelectedDescription() {
        for (i = 0; i < allDesciptionIds.length; i++) {
            if (selectedId == allDesciptionIds[i]) {
                return allDescriptions[i];
            }
        }
    }

    function runToggleReviewPython(aId, aIsReviewed) {
        var jqXHR = $.ajax({
            type: "POST",
            url: "/toggleReportReviewStatus",
            data: { id: aId, isReviewed: aIsReviewed },
            async: false
        });
        return jqXHR.responseText;
    }

</script>
    {% endblock %}
